.hero {
    background-image: url("assest/nils-nedel-ONpGBpns3cs-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
}

#search {
    display: flex;
    justify-content: space-around;
    padding: 3.5%;
}


