
.hero {
    background-image: url("/Assets/imgs/nils-nedel-ONpGBpns3cs-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
}

#search {
    display: flex;
    justify-content: space-around;
    padding: 3.5%;
}

main {
    padding: 20px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(195, 115, 24);
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    display: block;
    float: right;
    clear: right;
    position: relative;
  }


  .heart {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    text-shadow: 1px 1px #000;
  }

  .heart-outline {
    color: #000;
  }

  .heart:before {
    content: "\2661";
  }

  .heart.clicked:before {
    content: "\2665";
  }

  .heart.clicked {
    color: #f00;
  }



#search {
    display: flex;
    justify-content: space-around;
    padding: 3.5%;
}
#getDates {
  display: flex;
  margin: auto;
  margin-top: 1em;
}

.datePicker {
  display: flex;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  width: 50%;
  justify-content: space-evenly;
}

#datepicker-1,
#datepicker-2 {
  height: 1.5em;
  width: 80%;
}

#datepicker-2 {
  left: 0.5em;
}

.searchBox {
  color: #ccc;
  margin:.5em;
}

html {
  background: linear-gradient(328deg, rgba(47,46,44,1) 0%, rgba(0,0,0,1) 100%);
}

#timeBox {
  background: linear-gradient(328deg, rgba(47,46,44,1) 0%, rgba(0,0,0,1) 100%)
}

p {
  size: larger;
  color: #050000;
}
a {
  size: larger;
  color: #050000;
}
footer 
  {
    background-image: url("assest/nils-nedel-ONpGBpns3cs-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
}

@media screen and (max-width: 770px) {
  #hotelID {
    width: 50%;
    margin: 2%;
    font-size: 0.8em;
  }
  
  #restaurantID {
    width: 50%;
    margin: 2%;
    font-size: 0.8em;
  }

  #datepicker-2 {
    left: 0;
  }
  
}

  /* below for media query */
  @media screen and (max-width: 500px) {
    .datePicker {
      display: block;
    }
  
    #datepicker-1,
    #datepicker-2 {
      width: 100%;
    }

    #datepicker-2 {
      left: 0;
    }
  }
